# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# --- JetBrains (IntelliJ/PyCharm) ---
.idea/
*.iml
*.iws
out/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/
dist/
build/
*.egg


# Node
node_modules/
frontend/node_modules/

# Development/training scripts
scripts/

# --- YOLOv11 / Ultralytics Training ---
# Ignore training results and pretrained_weights
runs/
drone_detector/pretrained_weights
main_GUI/yolo26n_trained
*.pt
*.onnx
*.engine
*.pb
*.tflite

# Ignore local datasets (if stored in project)
datasets/
data/*.zip
data/*.tar.gz
*.zip

drone_detector/video_test/2019_10_16_C0003_4613_mavic.*
drone_detector/video_test/dji_mavick_distant_hillside.*
drone_detector/video_test/gopro_006.*
drone_detector/demo_outputs/*.mp4
drone_detector/demo_outputs/saved_alert_windows
video_benchmark_outputs/
drone_detector/yolov5/
benchmarks/
backup/
imgs/
drone_detector/commands.txt

# --- Logs and Cache ---
*.log
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
